@use 'vars';

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

#background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background.svg"); // Assuming you have a background image
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%; // Change to 'cover' for a full background
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

#container {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  padding: 20px;
  max-width: 600px;
  border: dashed 3px vars.$primary-color;
  border-radius: 10%;
  background-color: white;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 3px 10px vars.$darker-color;

  h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    font-family: vars.$cursive-font;
    color: vars.$darker-color;
  }
}

#password-error,
#password-success {
  display: none;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#password-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

#password-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

#container__password-form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  label {
    display: block;
    margin: 10px auto 5px;
    text-align: center;
    font-size: 18px;
  }

  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }

  input[type="submit"] {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 25px;
    height: 50px;
    background-color: rgb(43, 186, 86);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: auto;

    &:hover {
      background-color: rgb(166, 66, 66);
      box-shadow: inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px,
      inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px,
      inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
    }
  }
}
